---
layout: page
title: Categories
permalink: /categories/
---




{% for category in site.categories %}
<div class="catbloc" id="{{ category | first | remove:' ' }}">
          <h2>{{ category | first }}</h2>      
          <ul>
             {% for posts in category %}
               {% for post in posts %}
                 {% if post.url %}
                   <li>
                    <a href="{{site.baseurl}}{{ post.url }}">
                      {{ post.title }} &raquo;
                      {% for tag in post.tags %}   
                        <a href="{{site.baseurl}}/tags#{{ tag }}-ref" class='list-group-item'>
                        {{ tag }} <span class='badge'>{{ site.tags[tag].size }}</span>
                        </a>
                      {% endfor %} 
                    </a>
                  </li>
                {% endif %}
               {% endfor %}
            {% endfor %}
         </ul>
     </div>
{% endfor %}