<div class="navbar">
  <ul class="nav navbar-nav">
    <h1><a class="navbar-brand" href="{{ site.url }}/">{{ site.name }}</a></h1>
    <li id="about"{% if page.url == "/about/"%} class="active"{% endif %}>
      <a href="{{ site.url }}/about/" rel="author">About</a>
    </li>
    <li id="research"{% if page.url == "/research/"%} class="active"{% endif %}>
      <a href="{{ site.url }}/research/">Research</a>
    </li>
    <li id="teaching"{% if page.url == "/teaching/"%} class="active"{% endif %}>
      <a href="{{ site.url }}/teaching/">Teaching</a>
    </li><li id="service"{% if page.url == "/service/"%} class="active"{% endif %}>
      <a href="{{ site.url }}/service/">Service</a>
    </li>
  </ul>
  <p class="navbar-text pull-right">{{ site.description }}</p>
</div><!-- navbar -->
